<%- include('parts/header') %>
    <%- include('parts/navbar') %>

        <div class="container">

            <% if(items.length===0) { %>
                <p class="alert alert-danger">There is no items</p>
                <% } else { %>
                    <br>
                        <div class="table-responsive" id="no-more-tables">
                            <table class="table bg-white">
                                <thead class="bg-dark text-light">
                                    <th>no</th>
                                    <th>Email</th>
                                    <th>Product name</th>
                                    <th>Price</th>
                                    <th>Amount</th>
                                    <th>Total</th>
                                    <th>Address</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                    <% for (let i=0; i < items.length; i++) { %>
                                        <tr>
                                            <td>
                                                <%= i+1 %>
                                            </td>
                                            <td>
                                                <%= items[i].email %>
                                            </td>
                                            <td> <a href="/product/<%= items[i].productId %>">
                                                    <%= items[i].name %>
                                                </a> </td>
                                            <td>
                                                <%= items[i].price %> EGP
                                            </td>
                                            <td>
                                                <%= items[i].amount %>
                                            </td>
                                            <td>
                                                <%= items[i].price * items[i].amount %> EGP
                                            </td>
                                            <td>
                                                <%= items[i].address %>
                                            </td>
                                            <td>
                                                <%= items[i].status %>
                                            </td>
                                            <td>
                                                <% if (items[i].status==='pending' ) { %>
                                                    <div class="col col-12 col-md-6 col-lg-4 col-xl-3">
                                                    <form style="display: inline-block" method="POST"
                                                        action="/admin/orders">
                                                        <input type="hidden" name="orderId" value="<%= items[i]._id %>">
                                                        <input type="hidden" name="status" value="sent">
                                                        <input type="submit" class="btn btn-primary" value="Send">
                                                    </form>
                                                    <% } %>
                                                        <% if (items[i].status==='pending' || items[i].status==='sent' )
                                                            { %>
                                                            <form style="display: inline-block" method="POST"
                                                                action="/admin/orders">
                                                                <input type="hidden" name="orderId"
                                                                    value="<%= items[i]._id %>">
                                                                <input type="hidden" name="status" value="complete">
                                                                <input type="submit" class="btn btn-success"
                                                                    value="Complete">
                                                            </form>
                                                            </div>
                                                            <% } %>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                    
                    <% } %>


        </div>

        <%- include('parts/footer') %>